In [2]:
#Importing the necessary libraries

import pandas as pd

df = pd.read_excel('2005.xlsx')

In [3]:
df         #show the dataframe

,a,trigger,b,c,d,e,f,g,e1,e2
0,051221A,173780,0.5470,1.5470,1.392,0.210,0.544,0.0970,90.50,226.24
1,051117B,164279,0.4810,1.4810,10.528,2.079,4.992,2.3730,94.53,236.33
2,051109B,163170,0.0800,1.0800,8.608,2.074,4.288,1.7080,129.63,324.07
3,051109A,163136,2.3460,3.3460,36.800,4.959,23.200,15.4540,41.84,104.60
4,051016B,159994,0.9364,1.9364,3.936,0.551,2.448,0.4370,72.30,180.75
5,51006,158593,1.0590,2.0590,30.560,4.810,8.592,8.0790,67.99,169.99
6,51001,157870,2.4296,3.4296,178.656,13.787,99.248,31.7470,40.82,102.05
7,050922C,156467,2.1980,3.1980,4.544,0.442,1.408,0.0900,43.78,109.44
8,050915A,155242,2.5273,3.5273,53.424,10.044,17.488,4.5850,39.69,99.23
9,50908,154112,3.3500,4.3500,19.900,3.500,6.700,2.0000,32.18,80.46
10,50904,153514,6.2000,7.2000,179.500,10.300,85.400,7.6000,19.44,48.61
11,050820A,151207,2.6147,3.6147,241.360,12.277,220.560,3.1170,38.73,96.83
12,50819,151131,2.5043,3.5043,35.024,5.354,15.600,5.1080,39.95,99.88
13,50814,150314,5.3000,6.3000,94.208,14.575,42.256,7.7800,22.22,55.56
14,50813,150139,1.8000,2.8000,0.320,0.080,0.160,0.1218,50.00,125.00
15,50803,148833,0.4220,1.4220,88.176,9.982,39.392,6.7570,98.45,246.13
16,50802,148646,1.5200,2.5200,18.928,3.494,8.160,1.7650,55.56,138.89
17,50730,148225,3.9680,4.9680,157.584,14.770,68.352,10.4650,28.18,70.45
18,50724,147478,0.2570,1.2570,96.576,8.096,73.312,11.1200,111.38,278.44
19,050525A,130088,0.6060,1.6060,8.832,0.081,5.232,0.0226,87.17,217.93
20,50505,117504,4.2700,5.2700,59.530,7.108,26.992,6.3630,26.57,66.41
21,50406,113872,2.4400,3.4400,5.952,1.542,1.600,1.4480,40.70,101.74
22,50401,113120,2.9000,3.9000,33.120,1.037,25.792,0.5880,35.90,89.74
23,50319,111622,3.2400,4.2400,153.072,11.310,124.304,4.2280,33.02,82.55
24,50318,111529,1.4400,2.4400,29.056,0.472,15.344,10.6160,57.38,143.44
25,50315,111063,1.9490,2.9490,97.248,14.637,24.976,1.4710,47.47,118.68
26,50223,106709,0.5900,1.5900,16.272,1.700,8.464,1.2230,88.05,220.13
27,50126,103780,1.2900,2.2900,23.248,2.530,12.432,2.0360,61.14,152.84

In [4]:
df.shape, df.shape[0]     #Find the shape of the dataframe

((28, 10), 28)

In [5]:
#We will delete those columns which we don't need for this code


df.drop(["a"],axis=1,inplace=True)
df.drop(["b"],axis=1,inplace=True) 
df.drop(["c"],axis=1,inplace=True) 
df.drop(["d"],axis=1,inplace=True) 
df.drop(["e"],axis=1,inplace=True) 
df.drop(["f"],axis=1,inplace=True) 
df.drop(["g"],axis=1,inplace=True)
df.drop(["e1"],axis=1,inplace=True)
df.drop(["e2"],axis=1,inplace=True)

In [6]:
df   # The new dataframe contains only the trigger number

    trigger
0    173780
1    164279
2    163170
3    163136
4    159994
5    158593
6    157870
7    156467
8    155242
9    154112
10   153514
11   151207
12   151131
13   150314
14   150139
15   148833
16   148646
17   148225
18   147478
19   130088
20   117504
21   113872
22   113120
23   111622
24   111529
25   111063
26   106709
27   103780

In [8]:
# Now we generate the respective BATTBLOCKS commands for each of the GRB for a year's data. 
#These commands are to be entered into the command console of the NASA's Web Hera utility 

num=[]

for i in range(0,df.shape[0]):
    num.append(df["trigger"][i])
    print("\n battblocks infile='./" +"00"+str(num[i])+ "000"+ "-results/lc/test.lc' outfile='./" + "00"+str(num[i])+ "000"+ "-results/gti/" + str(i+1)+ ".gti' durfile='./" + "00"+str(num[i])+ "000"+ "-results/gti/" + str(2*i+2)+ ".gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes")

 battblocks infile='./00173780000-results/lc/test.lc' outfile='./00173780000-results/gti/1.gti' durfile='./00173780000-results/gti/2.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00164279000-results/lc/test.lc' outfile='./00164279000-results/gti/2.gti' durfile='./00164279000-results/gti/4.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00163170000-results/lc/test.lc' outfile='./00163170000-results/gti/3.gti' durfile='./00163170000-results/gti/6.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00163136000-results/lc/test.lc' outfile='./00163136000-results/gti/4.gti' durfile='./00163136000-results/gti/8.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00159994000-results/lc/test.lc' outfile='./00159994000-results/gti/5.gti' durfile='./00159994000-results/gti/10.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00158593000-results/lc/test.lc' outfile='./00158593000-results/gti/6.gti' durfile='./00158593000-results/gti/12.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00157870000-results/lc/test.lc' outfile='./00157870000-results/gti/7.gti' durfile='./00157870000-results/gti/14.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00156467000-results/lc/test.lc' outfile='./00156467000-results/gti/8.gti' durfile='./00156467000-results/gti/16.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00155242000-results/lc/test.lc' outfile='./00155242000-results/gti/9.gti' durfile='./00155242000-results/gti/18.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00154112000-results/lc/test.lc' outfile='./00154112000-results/gti/10.gti' durfile='./00154112000-results/gti/20.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00153514000-results/lc/test.lc' outfile='./00153514000-results/gti/11.gti' durfile='./00153514000-results/gti/22.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00151207000-results/lc/test.lc' outfile='./00151207000-results/gti/12.gti' durfile='./00151207000-results/gti/24.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00151131000-results/lc/test.lc' outfile='./00151131000-results/gti/13.gti' durfile='./00151131000-results/gti/26.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00150314000-results/lc/test.lc' outfile='./00150314000-results/gti/14.gti' durfile='./00150314000-results/gti/28.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00150139000-results/lc/test.lc' outfile='./00150139000-results/gti/15.gti' durfile='./00150139000-results/gti/30.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00148833000-results/lc/test.lc' outfile='./00148833000-results/gti/16.gti' durfile='./00148833000-results/gti/32.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00148646000-results/lc/test.lc' outfile='./00148646000-results/gti/17.gti' durfile='./00148646000-results/gti/34.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00148225000-results/lc/test.lc' outfile='./00148225000-results/gti/18.gti' durfile='./00148225000-results/gti/36.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00147478000-results/lc/test.lc' outfile='./00147478000-results/gti/19.gti' durfile='./00147478000-results/gti/38.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00130088000-results/lc/test.lc' outfile='./00130088000-results/gti/20.gti' durfile='./00130088000-results/gti/40.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00117504000-results/lc/test.lc' outfile='./00117504000-results/gti/21.gti' durfile='./00117504000-results/gti/42.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00113872000-results/lc/test.lc' outfile='./00113872000-results/gti/22.gti' durfile='./00113872000-results/gti/44.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00113120000-results/lc/test.lc' outfile='./00113120000-results/gti/23.gti' durfile='./00113120000-results/gti/46.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00111622000-results/lc/test.lc' outfile='./00111622000-results/gti/24.gti' durfile='./00111622000-results/gti/48.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00111529000-results/lc/test.lc' outfile='./00111529000-results/gti/25.gti' durfile='./00111529000-results/gti/50.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00111063000-results/lc/test.lc' outfile='./00111063000-results/gti/26.gti' durfile='./00111063000-results/gti/52.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00106709000-results/lc/test.lc' outfile='./00106709000-results/gti/27.gti' durfile='./00106709000-results/gti/54.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes

 battblocks infile='./00103780000-results/lc/test.lc' outfile='./00103780000-results/gti/28.gti' durfile='./00103780000-results/gti/56.gti' tlookback=10 bkgsub='YES' timecol=TIME countscol=RATE errcol=ERROR hduclas3=RATE tpeak=1 clobber=yes